In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = "https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-03-churn-prediction/WA_Fn-UseC_-Telco-Customer-Churn.csv"

In [3]:
!wget $data -O data.csv

--2023-05-06 12:51:33--  https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-03-churn-prediction/WA_Fn-UseC_-Telco-Customer-Churn.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.111.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 977501 (955K) [text/plain]
Saving to: ‘data.csv’

data.csv            100%[===================>] 954.59K  --.-KB/s    in 0.08s

2023-05-06 12:51:33 (12.0 MB/s) - ‘data.csv’ saved [977501/977501]

In [4]:
pd.set_option(
'display.max_columns', None)

In [5]:
df = pd.read_csv('data.csv')

In [6]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [7]:
df.head().T

,0,1,2,3,4
customerID,7590-VHVEG,5575-GNVDE,3668-QPYBK,7795-CFOCW,9237-HQITU
gender,Female,Male,Male,Male,Female
SeniorCitizen,0,0,0,0,0
Partner,Yes,No,No,No,No
Dependents,No,No,No,No,No
tenure,1,34,2,45,2
PhoneService,No,Yes,Yes,No,Yes
MultipleLines,No phone service,No,No,No phone service,No
InternetService,DSL,DSL,DSL,DSL,Fiber optic
OnlineSecurity,No,Yes,Yes,Yes,No
OnlineBackup,Yes,No,Yes,No,No
DeviceProtection,No,Yes,No,Yes,No
TechSupport,No,No,No,Yes,No
StreamingTV,No,No,No,No,No
StreamingMovies,No,No,No,No,No
Contract,Month-to-month,One year,Month-to-month,One year,Month-to-month
PaperlessBilling,Yes,No,Yes,No,Yes
PaymentMethod,Electronic check,Mailed check,Mailed check,Bank transfer (automatic),Electronic check
MonthlyCharges,29.85,56.95,53.85,42.3,70.7
TotalCharges,29.85,1889.5,108.15,1840.75,151.65
Churn,No,No,Yes,No,Yes

In [8]:
df.columns = df.columns.str.lower().str.replace(" ", "_")

In [9]:
df.dtypes

customerid           object
gender               object
seniorcitizen         int64
partner              object
dependents           object
tenure                int64
phoneservice         object
multiplelines        object
internetservice      object
onlinesecurity       object
onlinebackup         object
deviceprotection     object
techsupport          object
streamingtv          object
streamingmovies      object
contract             object
paperlessbilling     object
paymentmethod        object
monthlycharges      float64
totalcharges         object
churn                object
dtype: object

In [10]:
categorical_columns = list(df.dtypes[df.dtypes == 'object'].index)

In [11]:
categorical_columns

['customerid',
 'gender',
 'partner',
 'dependents',
 'phoneservice',
 'multiplelines',
 'internetservice',
 'onlinesecurity',
 'onlinebackup',
 'deviceprotection',
 'techsupport',
 'streamingtv',
 'streamingmovies',
 'contract',
 'paperlessbilling',
 'paymentmethod',
 'totalcharges',
 'churn']

In [12]:
for col in categorical_columns:
    df[col] = df[col].str.lower().str.replace(" ", "_")

In [13]:
df.head()

,customerid,gender,seniorcitizen,partner,dependents,tenure,phoneservice,multiplelines,internetservice,onlinesecurity,onlinebackup,deviceprotection,techsupport,streamingtv,streamingmovies,contract,paperlessbilling,paymentmethod,monthlycharges,totalcharges,churn
0,7590-vhveg,female,0,yes,no,1,no,no_phone_service,dsl,no,yes,no,no,no,no,month-to-month,yes,electronic_check,29.85,29.85,no
1,5575-gnvde,male,0,no,no,34,yes,no,dsl,yes,no,yes,no,no,no,one_year,no,mailed_check,56.95,1889.5,no
2,3668-qpybk,male,0,no,no,2,yes,no,dsl,yes,yes,no,no,no,no,month-to-month,yes,mailed_check,53.85,108.15,yes
3,7795-cfocw,male,0,no,no,45,no,no_phone_service,dsl,yes,no,yes,yes,no,no,one_year,no,bank_transfer_(automatic),42.30,1840.75,no
4,9237-hqitu,female,0,no,no,2,yes,no,fiber_optic,no,no,no,no,no,no,month-to-month,yes,electronic_check,70.70,151.65,yes

In [14]:
df['totalcharges'] = pd.to_numeric(df['totalcharges'], errors="coerce")

In [15]:
df.totalcharges.isnull().sum()

11

In [16]:
df[df.totalcharges.isnull()]['totalcharges']

488    NaN
753    NaN
936    NaN
1082   NaN
1340   NaN
3331   NaN
3826   NaN
4380   NaN
5218   NaN
6670   NaN
6754   NaN
Name: totalcharges, dtype: float64

In [17]:
df.totalcharges = df.totalcharges.fillna(0)

In [18]:
df.totalcharges.isnull().sum()

0

In [19]:
df.churn = (df.churn=='yes').astype(int)

In [20]:
df.churn.head()

0    0
1    0
2    1
3    0
4    1
Name: churn, dtype: int64

In [21]:
# Data split train, validation and test

In [22]:
from sklearn.model_selection import train_test_split

In [23]:
df_full_train, df_test = train_test_split(df, test_size=0.2)

df_train, df_val = train_test_split(df_full_train, test_size = 0.25)

In [24]:
len(df_train), len(df_val), len(df_test)

(4225, 1409, 1409)

In [25]:
df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

In [26]:
y_train = df_train.churn.values
y_val= df_val.churn.values
y_test = df_test.churn.values

In [27]:
del df_train["churn"]
del df_test["churn"]
del df_val["churn"]

In [28]:
# EDA

In [29]:
df_full_train = df_full_train.reset_index(drop = True)

In [30]:
df_full_train.columns

Index(['customerid', 'gender', 'seniorcitizen', 'partner', 'dependents',
       'tenure', 'phoneservice', 'multiplelines', 'internetservice',
       'onlinesecurity', 'onlinebackup', 'deviceprotection', 'techsupport',
       'streamingtv', 'streamingmovies', 'contract', 'paperlessbilling',
       'paymentmethod', 'monthlycharges', 'totalcharges', 'churn'],
      dtype='object')

In [31]:
numerical = ['tenure','monthlycharges','totalcharges']
categorical = [
    'gender',
    'seniorcitizen', 
    'partner', 
    'dependents',
    'phoneservice', 
    'multiplelines',
    'internetservice',
    'onlinesecurity',
    'onlinebackup', 
    'deviceprotection', 
    'techsupport',
    'streamingtv', 
    'streamingmovies', 
    'contract', 
    'paperlessbilling',
    'paymentmethod'
]

In [32]:
df_full_train[categorical].nunique()

gender              2
seniorcitizen       2
partner             2
dependents          2
phoneservice        2
multiplelines       3
internetservice     3
onlinesecurity      3
onlinebackup        3
deviceprotection    3
techsupport         3
streamingtv         3
streamingmovies     3
contract            3
paperlessbilling    2
paymentmethod       4
dtype: int64

In [33]:
# Churn rate

In [55]:
global_churn = df_full_train.churn.mean()

In [49]:
df_full_train.churn.value_counts(normalize = True)

0    0.735534
1    0.264466
Name: churn, dtype: float64

## Churn rate

In [50]:

churn_female = df_full_train[df_full_train.gender == 'female'].churn.mean()
churn_male = df_full_train[df_full_train.gender =='male'].churn.mean()
print(churn_male, churn_female)

0.25875350140056025 0.2703383729301656

In [51]:
df_full_train.partner.value_counts()

no     2905
yes    2729
Name: partner, dtype: int64

In [52]:
churn_partner = df_full_train[df_full_train.partner == 'yes'].churn.mean()
churn_no_partner = df_full_train[df_full_train.partner == 'no'].churn.mean()
print(churn_partner, churn_no_partner)

0.19677537559545621 0.3280550774526678

## Risk Ratio

In [56]:
churn_partner/global_churn

0.7440486349696647

In [57]:
churn_no_partner/global_churn

1.2404445009183427

In [58]:
churn_male/global_churn

0.9784008234166152

In [59]:
churn_female/global_churn

1.0222056329453377

In [ ]:
from Ipython.display import display

In [65]:
for c in categorical:
    print(c)
    df_group = df_full_train.groupby(c).churn.agg(['mean', 'count'])
    df_group['diff'] = df_group['mean'] - global_churn
    df_group['risk'] = df_group['mean']/global_churn
    display(df_group)
    print()
    print()

gender

            mean  count      diff      risk
gender
female  0.270338   2778  0.005873  1.022206
male    0.258754   2856 -0.005712  0.978401

seniorcitizen

                   mean  count      diff      risk
seniorcitizen
0              0.232400   4716 -0.032065  0.878754
1              0.429194    918  0.164728  1.622871

partner

             mean  count      diff      risk
partner
no       0.328055   2905  0.063589  1.240445
yes      0.196775   2729 -0.067690  0.744049

dependents

                mean  count      diff      risk
dependents
no          0.316123   3951  0.051657  1.195325
yes         0.143197   1683 -0.121269  0.541456

phoneservice

                  mean  count      diff      risk
phoneservice
no            0.237918    538 -0.026548  0.899618
yes           0.267268   5096  0.002803  1.010598

multiplelines

                      mean  count      diff      risk
multiplelines
no                0.247976   2718 -0.016489  0.937651
no_phone_service  0.237918    538 -0.026548  0.899618
yes               0.289319   2378  0.024853  1.093974

internetservice

                     mean  count      diff      risk
internetservice
dsl              0.183333   1920 -0.081132  0.693221
fiber_optic      0.418892   2509  0.154426  1.583918
no               0.072199   1205 -0.192267  0.273000

onlinesecurity

                         mean  count      diff      risk
onlinesecurity
no                   0.417618   2804  0.153152  1.579099
no_internet_service  0.072199   1205 -0.192267  0.273000
yes                  0.142769   1625 -0.121697  0.539840

onlinebackup

                         mean  count      diff      risk
onlinebackup
no                   0.395692   2507  0.131226  1.496194
no_internet_service  0.072199   1205 -0.192267  0.273000
yes                  0.213840   1922 -0.050626  0.808573

deviceprotection

                         mean  count      diff      risk
deviceprotection
no                   0.386521   2463  0.122055  1.461514
no_internet_service  0.072199   1205 -0.192267  0.273000
yes                  0.229400   1966 -0.035066  0.867408

techsupport

                         mean  count      diff      risk
techsupport
no                   0.417087   2774  0.152621  1.577094
no_internet_service  0.072199   1205 -0.192267  0.273000
yes                  0.148640   1655 -0.115825  0.562041

streamingtv

                         mean  count      diff      risk
streamingtv
no                   0.331868   2275  0.067402  1.254862
no_internet_service  0.072199   1205 -0.192267  0.273000
yes                  0.300836   2154  0.036370  1.137522

streamingmovies

                         mean  count      diff      risk
streamingmovies
no                   0.334683   2223  0.070217  1.265506
no_internet_service  0.072199   1205 -0.192267  0.273000
yes                  0.298731   2206  0.034265  1.129563

contract

                    mean  count      diff      risk
contract
month-to-month  0.424710   3108  0.160245  1.605918
one_year        0.113891   1159 -0.150574  0.430647
two_year        0.027798   1367 -0.236668  0.105110

paperlessbilling

                      mean  count      diff      risk
paperlessbilling
no                0.159579   2281 -0.104887  0.603402
yes               0.335819   3353  0.071353  1.269800

paymentmethod

                               mean  count      diff      risk
paymentmethod
bank_transfer_(automatic)  0.163200   1250 -0.101266  0.617093
credit_card_(automatic)    0.151941   1211 -0.112525  0.574519
electronic_check           0.456224   1896  0.191758  1.725076
mailed_check               0.185591   1277 -0.078875  0.701759